## Question:

> Of the top 100 world ranked universities, does ranked quality of education at the top 25 result in higher alumni employment then the the bottom 25 universities?

## Data Definitions:

>__Quality of Education:__ measured by the number of a university's alumni who have won major international awards, prizes, and medals relative to the university's size (15%) 

>__Alumni Employment:__ measured by the number of a university's alumni who have held CEO positions at the world's top companies relative to the university's size (15%)

In [1]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
university_db = pd.read_csv('UniversityRanking.csv')

In [3]:
# this creates the database
university_db.to_sql('university_table', sqlite3.connect('university.db'), if_exists = 'replace')

In [4]:
# this is a variable for the SQL connection
connection = sqlite3.connect('university.db')
# reading from SQL database
unitop25_df = pd.read_sql_query('SELECT world_rank, institution, alumni_employment, quality_of_education FROM university_table WHERE world_rank < 25 AND year = 2015 ORDER BY world_rank', connection)
print(unitop25_df)
unibottom25_df = pd.read_sql_query('SELECT world_rank, institution, alumni_employment, quality_of_education FROM university_table WHERE world_rank BETWEEN 75 AND 100 AND year = 2015 ORDER BY world_rank', connection)
print(unibottom25_df)

    world_rank                                      institution  \
0            1                               Harvard University
1            2                              Stanford University
2            3            Massachusetts Institute of Technology
3            4                          University of Cambridge
4            5                             University of Oxford
5            6                              Columbia University
6            7               University of California, Berkeley
7            8                            University of Chicago
8            9                             Princeton University
9           10                               Cornell University
10          11                                  Yale University
11          12               California Institute of Technology
12          13                              University of Tokyo
13          14                       University of Pennsylvania
14          15            University of California, Los Angeles
15          16                         Johns Hopkins University
16          17                                 Kyoto University
17          18                              New York University
18          19                University of Michigan, Ann Arbor
19          20  Swiss Federal Institute of Technology in Zurich
20          21              University of California, San Diego
21          22                          Northwestern University
22          23                   Hebrew University of Jerusalem
23          24                        Seoul National University

    alumni_employment  quality_of_education
0                   1                     1
1                   2                     9
2                  11                     3
3                  10                     2
4                  13                     7
5                   6                    13
6                  21                     5
7                  14                    11
8                  15                     4
9                  18                    12
10                 26                    10
11                328                     6
12                  3                    16
13                  4                    20
14                 27                    28
15                 84                    18
16                 16                    22
17                 22                    32
18                 17                    24
19                 64                    17
20                567                    36
21                 12                   163
22                164                    15
23                  9                   367
    world_rank                                        institution  \
0           75    University of Texas Southwestern Medical Center
1           76             Ruprecht Karl University of Heidelberg
2           77                           University of Notre Dame
3           78                                Tsinghua University
4           79             Ludwig Maximilian University of Munich
5           80                    Georgia Institute of Technology
6           81                            University of Rochester
7           82                     Katholieke Universiteit Leuven
8           83                                   Brown University
9           84                                   Emory University
10          85                       Erasmus University Rotterdam
11          86                                Tel Aviv University
12          87                                 Utrecht University
13          88                               University of Sydney
14          89                   University of California, Irvine
15          90      University of Texas MD Anderson Cancer Center
16          91  Swiss Federal Institute of Technology in Lausanne
17          92                               University of Geneva
18          93                            University of Melbourne
19          94                              King's College London
20          95                                   Tufts University
21          96                               University of Zurich
22          97                           Arizona State University
23          98                                  Yonsei University
24          99                                 University of Oslo
25         100                                  Kyushu University

    alumni_employment  quality_of_education
0                 567                    59
1                 402                    38
2                  24                   221
3                  73                   309
4                 129                    42
5                  60                   135
6                  53                    72
7                 202                   367
8                  43                    64
9                 146                   367
10                 46                   367
11                107                    77
12                199                    84
13                198                   105
14                567                   227
15                567                   367
16                 74                   367
17                191                    35
18                113                   141
19                190                    27
20                 48                    60
21                389                   115
22                455                   367
23                 45                   367
24                286                    53
25                 49                   367